{{#extend "layout"}}
  {{#content "main"}}
    <div style="font-size: 20px; margin-bottom: 10px; color: #086bb5;">Cambio de contraseña</div>
    <div style="font-size: 20px; margin-bottom: 40px; color: #086bb5;">
    {{#each list}}
      <a href="{{app_url}}/cambiar-contrasena/{{hash}}" target="_blank">
        Haz click aquí para cambiar tu contraseña.
      </a>
	  {{/each}}
    </div>
    <div style="margin-bottom: 40px; padding:20px; border:2px solid red;">
      <strong style="color:red;">Importante</strong><br>Este enlace caducará al cabo de <strong>24 horas</strong> y únicamente puede ser usado <strong>1 sola vez</strong>.
    </div>
  {{/content}}
{{/extend}}
