{{#extend "layout"}}
  {{#content "main"}}
    <div style="font-size: 20px; margin-bottom: 10px; color: #086bb5;">Cambia tu contraseña</div>
    <div style="margin-bottom: 40px;">
      Hemos recibido una petición de cambio de contraseña para la dirección
      <strong>{{toEmail}}</strong>. Estos son los usuarios registrados con esta dirección:
    </div>
    {{#each list}}
      <div style="margin-bottom: 40px;">
        <table border="0" cellpadding="10" cellspacing="0" style="background-color: #444; border-spacing: 1px; border-collapse: separate;" bgcolor="#444">
          <tr>
            <td style="background-color: #fff;" bgcolor="#fff">Nombre:</td>
            <td style="background-color: #fff;" bgcolor="#fff">
              {{name}}
            </td>
          </tr>
          <tr>
            <td style="background-color: #fff;" bgcolor="#fff">Usuario:</td>
            <td style="background-color: #fff;" bgcolor="#fff">
              {{username}}
            </td>
          </tr>
          <tr>
            <td style="background-color: #fff;", bgcolor="#fff" colspan="2">
              <a href="{{app_url}}/cambiar-contrasena/{{hash}}", target="_blank">Haz click aquí para cambiar la contraseña de {{username}}</a>
            </td>
          </tr>
        </table>
      </div>
    {{/each}}
	<div style="margin-bottom: 40px; padding:20px; border:2px solid red;">
      <strong style="color:red;">Importante</strong><br>Estos enlaces caducarán al cabo de <strong>24 horas</strong> y únicamente pueden ser usados <strong>1 sola vez</strong> por usuario.
    </div>
  {{/content}}
{{/extend}}
