<div style="font-family: sans-serif; font-size: 16px; line-height: 22px; background-color: #f0f0f0; font-weight: lighter; color: #58595B; padding: 50px;">
  <div style="background-color: white; padding: 40px;">
    <div style="font-size: 30px; margin-bottom: 30px; color: #086bb5;">
      {{#if toName}}
        ¡Hola {{toName}}!
      {{else}}
        ¡Hola!
      {{/if}}
    </div>
    {{#block "main"}}
    {{/block}}
    <div style="margin-bottom: 40px;">
      Para cualquier duda o problema puedes contactar con
      soporte al teléfono <strong>01 800 841 77 42</strong>
      o al correo <a href="mailto:soporte.tech@ascc.me">soporte.tech@ascc.me</a>
    </div>
    <div><a href="http://www.ascc.me" target="_blank">www.ascc.me</a></div>
  </div>
</div>
